:root {
	/** Primary **/
	--color-primary: #094067;
	--color-primary-light: #094067A6;
	--color-primary-dark: #022842;
	--color-primary-accent: #ffffff;

	/** Secondary **/
	--color-secondary: #4a5568;
	--color-secondary-accent: #e16162;

	/** Grayscale **/
	--color-gray-0-alpha: #ffffff1A;
	--color-gray-0: #ffffff;
	--color-gray-1: #f7fafc;
	--color-gray-2: #edf2f7;
	--color-gray-3: #e2e8f0;
	--color-gray-4: #cbd5e0;
	--color-gray-5: #a0aec0;
	--color-gray-6: #718096;
	--color-gray-7: #4a5568;
	--color-gray-8: #2d3748;
	--color-gray-9: #1a202c;
	--color-gray-10: #171923;
}
