:root {
	--lnx-color-primary: var(--color-primary);
	--lnx-color-primary-alpha: var(--color-primary-alpha);
	--lnx-color-primary-accent: var(--color-primary-accent);
	--lnx-color-primary-accent-alpha: var(--color-primary-accent-alpha);

	--lnx-color-secondary: var(--color-secondary);
	--lnx-color-secondary-alpha: var(--color-secondary-alpha);
	--lnx-color-secondary-accent: var(--color-secondary-accent);
	--lnx-color-secondary-accent-alpha: var(--color-secondary-accent-alpha);
	--lnx-color-secondary-accent-dark: var(--color-secondary-accent-dark);
	--lnx-color-secondary-accent-dark-alpha: var(--color-secondary-accent-dark-alpha);

	--lnx-color-gray-0-alpha: var(--color-gray-0-alpha);
	--lnx-color-gray-0: var(--color-gray-0);
	--lnx-color-gray-1: var(--color-gray-1);
	--lnx-color-gray-2: var(--color-gray-2);
	--lnx-color-gray-3: var(--color-gray-3);
	--lnx-color-gray-4: var(--color-gray-4);
	--lnx-color-gray-5: var(--color-gray-5);
	--lnx-color-gray-6: var(--color-gray-6);
	--lnx-color-gray-7: var(--color-gray-7);
	--lnx-color-gray-8: var(--color-gray-8);
	--lnx-color-gray-9: var(--color-gray-9);
	--lnx-color-gray-10: var(--color-gray-10);

	--lnx-color-danger: var(--color-danger);
	--lnx-color-danger-accent: var(--color-danger-accent);
	--lnx-color-danger-alpha: var(--color-danger-alpha);

	--lnx-color-success: var(--color-success);
	--lnx-color-success-accent: var(--color-success-accent);
	--lnx-color-success-alpha: var(--color-success-alpha);

	--lnx-color-warning: var(--color-warning);
	--lnx-color-warning-accent: var(--color-warning-accent);
	--lnx-color-warning-alpha: var(--color-warning-alpha);

	--lnx-shadow-base: var(--shadow-base);
}