:root {
	/* Colors*/
	--lnx-color-primary: var(--color-primary);
	--lnx-color-primary-light: var(--color-primary-light);
	--lnx-color-primary-dark: var(--color-primary-dark);
	--lnx-color-primary-accent: var(--color-primary-accent);

	--lnx-color-danger: var(--color-secondary-accent);
	--lnx-color-danger-accent: var(--color-gray-1);

	--lnx-color-gray-0: var(--color-gray-0);
	--lnx-color-gray-1: var(--color-gray-1);
	--lnx-color-gray-2: var(--color-gray-2);
	--lnx-color-gray-3: var(--color-gray-3);
	--lnx-color-gray-4: var(--color-gray-4);
	--lnx-color-gray-5: var(--color-gray-5);
	--lnx-color-gray-6: var(--color-gray-6);
	--lnx-color-gray-7: var(--color-gray-7);
	--lnx-color-gray-8: var(--color-gray-8);
	--lnx-color-gray-9: var(--color-gray-9);
	--lnx-color-gray-10: var(--color-gray-10);

	/* Typography */
	--lnx-font-family-heading: var(--font-family-heading);
	--lnx-font-family-body: var(--font-family-body);
	--lnx-font-family-mono: var(--font-family-mono);
}